#Carga configuraciones para el apache
Options -Indexes

#Esto deniega el acceso a archivos sensibles
<FilesMatch ".*\.(log|ini|htaccess)$">
    deny from all
</FilesMatch>

#Habilita el motor de reescritura de URLs (Modulo de reescritura)
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /preguntadosGame/
    RewriteRule ^(images)($|/) - [L,NC]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/(.*)/(.*)$ index.php?controller=$1&method=$2&$3 [L,QSA]
    RewriteRule ^(.*)/(.*)$ index.php?controller=$1&method=$2 [L,QSA]
    RewriteRule ^(.*)$ index.php?controller=$1 [L,QSA]
</IfModule>