{{>partials/header}}

<div class="container mt-5 text-center">
    <h2>Pregunta de {{category_id}}</h2>
    <p class="fs-4">{{question_text}}</p>

    <a href="/partida" class="btn btn-primary mt-3">Volver a la ruleta</a>
</div>

{{>partials/footer}}