#roulette .roulette-section:first-child {
    transform: rotate(0deg) skewY(-18deg);
}
#roulette .roulette-section:nth-child(2) {
    transform: rotate(72deg) skewY(-18deg);
}
#roulette .roulette-section:nth-child(3) {
    transform: rotate(144deg) skewY(-18deg);
}
#roulette .roulette-section:nth-child(4) {
    transform: rotate(216deg) skewY(-18deg);
}
#roulette .roulette-section:nth-child(5) {
    transform: rotate(288deg) skewY(-18deg);
}