#roulette .roulette-section:first-child .roulette-section-container {
    background: #df0978; 
}
#roulette .roulette-section:nth-child(2) .roulette-section-container {
	background: #8d078d; 
}
#roulette .roulette-section:nth-child(3) .roulette-section-container {
	background: #3a63ba; 
}
#roulette .roulette-section:nth-child(4) .roulette-section-container {
	background: #4fa1de;  
}
#roulette .roulette-section:nth-child(5) .roulette-section-container {
	background: #23bb23;  
}